.cc-button {
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    font-family: $controls-font;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.cc-button--primary {
    background-color: #00bff3;
    color: #fff;

    &:hover {
        background-color: darken(#00bff3, 10%);
    }
}

.cc-button--success {
    background-color: #f26d7d;
    color: #fff;

    &:hover {
        background-color: darken(#f26d7d, 10%);
    }
}