.cc-about-us-section {
    padding: 130px 0;
    background-color: #ebebeb;
}

.cc-donut-form-section {
    padding: 130px 0 0;
    background-color: #bd8cbf;

    .cc-section__content {
        position: relative;
        top: 50px;
    }
}

.cc-donuts-list-section {
    padding: 220px 0;
    background-color: #f7f6f6;
}