.cc-text-block {
    padding: 0 30px;

    &__title {
        margin-bottom: 25px;
        font-size: 24px;
        color: #ffa241;
    }

    &__description {
        font-size: 18px;
        color: #31281a;
    }
}