@font-face {
    font-family: 'Gadugi';
    src: url('../../fonts/gafugi.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gadugi Bold';
    src: url('../../fonts/gafugib.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');